/*
    Actually I hate CSS, especially the CASCADING aspect of it. So, ideally, this file should be as small as possible.
*/




svg:not(.active):not(.ctrl) {
    cursor: crosshair;
}

path.link {
    fill: none;
    stroke: #ffbaba;
    stroke-width: 4px;
    cursor: default;
}

svg:not(.active):not(.ctrl) path.link {
    cursor: pointer;
}

path.link.selected {
    stroke-opacity: 0.5;
}

path.link.reducer {
    stroke-dasharray: 10,2;
}


path.link.dragline {
    pointer-events: none;
}

path.link.hidden {
    stroke-width: 0;
}

circle.node {
    stroke-width: 1.5px;
    cursor: pointer;
}

    circle.node.sticky {
        stroke: #ffbaba !important;
        stroke-width: 2.5px;
    }

text {
    font: 12px sans-serif;
    pointer-events: none;
}

text.id {
    text-anchor: middle;
    font-weight: bold;
}
