<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    
  </system.web>
  
  <system.webServer>
    <directoryBrowse enabled="true" />
    <staticContent>
      <mimeMap fileExtension=".n3" mimeType="text/n3" />
      <mimeMap fileExtension=".json" mimeType="application/json" />

      <!-- list taken from here: https://groups.google.com/forum/#!topic/turbulenz-engine-users/U5HdXX60TGs  -->
      <mimeMap fileExtension=".tzjs" mimeType="application/vnd.turbulenz" />
      <mimeMap fileExtension=".dds" mimeType="image/dds" />
      <mimeMap fileExtension=".tga" mimeType="image/tga" />
      <mimeMap fileExtension=".ktx" mimeType="image/ktx" />

      <mimeMap fileExtension=".cgfx" mimeType="text/cgfx" />

      
      <mimeMap fileExtension=".yaml" mimeType="text/x-yaml" />

      <!-- you shall not upset IIS 
      <mimeMap fileExtension=".ico" mimeType="image/x-icon" />
      <mimeMap fileExtension=".ogg" mimeType="application/ogg" />
      <mimeMap fileExtension=".png" mimeType="image/png" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/> 
       <mimeMap fileExtension=".jpg" mimeType="image/pjpeg" />
        <mimeMap fileExtension=".webm" mimeType="video/webm" />
      -->     
     

    </staticContent>
  </system.webServer>
</configuration>